.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.loginLogo{
    width: 30em;
}

.loginInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    margin-bottom: 2em;
}

.loginError{
    text-align: center;
    color: rgb(181, 0, 0);
}