.containerDownload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    gap: 1em;
}

.downloadButtonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.downloadButton{
min-width: 15em;
}